{% extends 'base.html' %}
{% block content %}

    {% if object_list %}
        <h1 class='text-center'>All Pet Photos</h1>
        <div class="container mb-5">
            <div class="row mb-5">

                <!-- First Card with Info for the Pet -->
                {% for pet_photo in petphoto_list %}
                    <div class="card ml-3 mb-3" style="width: 18rem;">
                        <!-- Image -->
                        <img src="{{ pet_photo.photo.url }}"
                             class="card-img-top" alt="Photo description">
                        <div class="card-body">
                            {% for pet in pet_photo.tagged_pets.all %}
                                <h5 class="card-title">{{ pet.name }}, age: {{ pet.age }}</h5>
                            {% endfor %}
                            <p class="card-text">{{ pet_photo.description|truncatechars:30 }}</p>
                            <a href="{% url 'pet photo details' pet_photo.pk %}" class="btn btn-primary">See details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h1 class='text-center'>No pet photos yet</h1>
        <div class=" row d-flex justify-content-center align-content-center">
            <a href="#" class="btn btn-lg btn-secondary row align-self-baseline">Add Photo</a>
        </div>
    {% endif %}
{% endblock %}
